
@{
    ViewBag.Title = "Library";
}

<h2>Library</h2>

<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <h4 ><a href="~/Library/TextLibrary">Text Documents</a></h4>
        <em>Testimonies, Statements, Mandates, Essays, Inspiriational Writings, etc.</em>
    </div>
    <div class="col-md-6 text-center">
        <h4 ><a href="~/Library/MMLibrary">Multimedia</a></h4>
        <em>Documentries, Graphics, Audio Recordings, etc. </em>
    </div>
</div>