/* *****************************************   OVERRIDE ELEMENTS ************************************* */

button[disabled],
html input[disabled],
.disabled  {
    background-color:grey;
    cursor: not-allowed;
}

body {
    padding-top: 88px;
    padding-bottom: 40px;
    background-color: #e6e6e6;
    background-color: #f2f2f2;
    font-size: 12px;
    margin-top: auto;
}

.navbar-brandX  {
    padding: 1px;
    margin-right: 20px;
    height: auto;
}

h2 {
  text-align: center;
  /*text-shadow: 1px 1px 2px #808080;*/
  margin-top: 10px;
  margin-bottom: 10px;
    font-size: 28px;

}

h3 {
  text-shadow: 1px 1px 2px #808080;
}

h4 {
  text-shadow: 1px 1px 2px #b3b3b3;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #F2F2F2;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
    background-color: #B9DBFE;
  background-color: #D2E8FE;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 2px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #d2e8fe;
}

.caption {
    text-align: left;
    color: #317eac;
    font-weight: bold;
}

.btn {
    min-width: 62px;
}

.btn-default {
  color: #2fa4e7;
}

.btn-primary {
    min-width: 80px;
    padding: 5px 5px;
}

.alert {
  padding: 3px 5px 3px 4px;
  margin-top: 1px;
  margin-bottom: 8px;
  font-size: 1.4em;
  font-size: 16px;
  text-align: center;
}

.alert-warning {
  color: #997300;
  background-color: #F6EAAC;
  border-color: #fbeed5;
}

fieldset {
    margin-left: 10px;
}

.form-group {
  margin-bottom: 10px;
    margin-top: 5px;
}


.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

label {
    cursor: pointer;
}
legend {
  margin-bottom: 10px;
}

dl {
  margin-bottom: 5px;
    margin-top: 8px;
}

dt, dd {
  line-height: 1.7;
}


/* *************************************************** NEW ELEMENTS  *********************************************/

.topbar {
  position: relative;
  padding-top: 2px;
  z-index: 1000;
  min-height: 28px;
  border: 1px solid transparent;
  background-color: #000000;
    color: #f2f2f2;
}

.topbar-nav {
  margin: 7.5px -15px;
}

.topbar-nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 20px;
}


.topbar-links {
  padding: 4px 10px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #000000;
  border-radius: 4px;
    color: #CCCCCC;
    font-size: 11px;
}

.topbar-links a {
    color: #CCCCCC;
    
}

.topbar-links a:hover {
    color: #B9DBFE;
}

.topbar-links > li {
  display: inline-block;
}

.topbar-links > li + li:before {
  padding: 0 5px;
  color: #cccccc;
  content: "|\00a0";
}

.topbar-links > .active {
  color: #999999;
}

@media (max-width: 990px) {
  .topbar-links {
      display: none;
  }
}


.bottombar {
  position: fixed;
  margin-top: 8px;
  left:0px;
  bottom:0px;
  min-height:30px;
  border: 1px solid transparent;
  background-color: #000000;
  color: #f2f2f2;
  width: 100%
}

.container-main
{
    background-color: #f2f2f2;
    background-color: #ffffff;
    /*box-shadow: 3px 3px 12px #333333;
    -webkit-box-shadow: 3px 3px 12px #333333;
    -moz-box-shadow: 3px 3px 12px #333333;*/
    min-height: 400px;
}


/* text-box, multi-line are needed to overright html controls when using EditorFor() */
.text-box {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 6px;
  line-height: 1.3;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.multi-line {
    height: auto;
    min-height: 60px;
}

.text-box:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

select {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 6px;
  line-height: 1.3;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.field-validation-error {
    color: #b94a48;
    display: inline-block;
    padding-top: 2px;
}
.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #b94a48
}

.validation-summary-errors {
    font-weight: bold;
    color: #b94a48;
    margin-left: 180px;
}

.validation-summary-valid {
    display: none;
}

.header-sort {
  font-weight: bold;
  cursor: pointer;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.navbar,
.navbar-inverse .navbar-inner {
    filter: none;
    background-image: none;
}


input[type="text"] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 6px;
  line-height: 1.3;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
