@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right m-r-n">
            <li class="dropdown">
                <a href="#" class="clear no-padding-h" data-toggle="dropdown" style="margin-right: 15px;">
                    <span class="m-l">@User.Identity.Name</span>
                    <b class="caret m-h-xs"></b>
                </a>
                <ul class="dropdown-menu pull-right no-b-t">
                    <li>
                        <a href="/Manage">Profile</a>
                    </li>
                    <li class="divider">
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right m-r-n">
        <li>
            <a href="/Account/Login" class="clear no-padding-h" style="margin-right: 15px;">
                <span class="m-l">Login</span>
                <b class="caret m-h-xs"></b>
            </a>
        </li>
    </ul>
}

